body {
    background-color: rgb(4, 8, 43);
    height: 100vh;
    /* overflow: hidden; */
    margin: 0px;
}

h1 {
    color:darkslateblue;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
}

#tiles {
    height: calc(100vh);
    width: calc(100vw);
    position: relative;
    z-index: 2;
    
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}
.tile {
    cursor: pointer;
    position: relative;
  }

/*.tile:hover:before {
    background-color: rgb(35, 3, 41);
}*/

.tile:before {
    background-color: rgb(12, 16, 59);
    content: "";
    inset: 0.5px;
    position: absolute;
}